.fondoItem {
  background-color: #ff111328;
  height: 130px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.btn-color {
  background-color: #ff3366;
  border-color: #ff3366;
  border-radius: 25px;
  width: 100%;
}
.btn-color:hover {
  background-color: #ff94af;
  border-color: #ff94af;
  transition: 300ms;
}
.sexo{
    font-size: 40px;
}